/* =================== Home ================== */
.container {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  padding: 3rem;
  min-height: 100vh;
  background: linear-gradient(
    to right bottom,
    $color-primary-dark,
    $color-primary-light
  );

  @include respond(desktop) {
    padding: 2rem;
  }

  @include respond(land-phone) {
    padding: 0;
  }
}

.header {
  height: 8rem;

  display: flex;
  justify-content: space-between;
  align-content: center;

  padding: 1rem 2rem;
  background-color: $color-secondary-light;

  border-radius: 1rem 1rem 0 0;

  @include respond(land-phone) {
    border-radius: 0;

    padding: 1rem 6rem;
  }

  @include respond(port-phone) {
    padding: 1rem 4rem;
  }
}

.content {
  display: flex;

  @include respond(tablet) {
    flex-direction: column;
  }
}

.sidebar {
  height: 100%;

  background-color: $color-black;
  flex: 0 0 18%;
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tablet) {
    width: 100%;
  }
}

.main {
  height: 100%;
  min-height: 80vh;

  flex: 1;

  padding: 1.2rem;
  background-color: $color-white;
}
