<div class="product-content product--active" id="product">
  <div class="product-content-1">
    <div class="heading-group">
      <h3 class="heading-3">Danh sách loại sản phẩm</h3>

      <span class="plus-icon" (click)="openModal('create', 'modalType')">
        <i class="fal fa-plus"></i>
      </span>
    </div>

    <ul class="product-type">
      <li class="product-type__item" *ngFor="let it of productTypeList">
        <span
          class="product-type__name"
          (click)="selectedRowProductType(it, 'modalType')"
        >
          {{ it.name }}
        </span>
        <span class="times-icon" (click)="handleDeleteProductType(it.id)">
          <i class="fal fa-times"></i>
        </span>
      </li>
    </ul>
  </div>

  <div class="product-content-2">
    <div class="heading-group">
      <h3 class="heading-3">Danh sách sản phẩm</h3>

      <span class="plus-icon" (click)="openModal('create', 'modalAdd')">
        <i class="fal fa-plus"></i>
      </span>
    </div>

    <table class="table table-1">
      <thead>
        <tr class="table-header">
          <th class="table-heading__item">STT</th>
          <th class="table-heading__item">Tên sản phẩm</th>
          <th class="table-heading__item">Giá (đ)</th>
          <th class="table-heading__item">Loại sản phẩm</th>
          <th class="table-heading__item">Ngày tạo</th>
          <th class="table-heading__item">Hành động</th>
        </tr>
      </thead>

      <tbody>
        <tr class="table-body" *ngFor="let item of productList; index as i">
          <td class="table-content__item">{{ i + 1 }}</td>
          <td class="table-content__item">
            <a
              class="table-content__link"
              (click)="selectedRowProduct(item, 'modalAdd')"
            >
              {{ item.name }}
            </a>
          </td>
          <td class="table-content__item">{{ item.price }}</td>
          <td class="table-content__item">
            {{ getProductTypeNameById(item.category_product_id) }}
          </td>
          <td class="table-content__item">
            {{ helper.formatDate(item.created_at) }}
          </td>
          <td class="table-content__item">
            <span
              class="times-icon times-icon-2"
              (click)="handleDeleteProduct(item.id)"
            >
              <i class="fal fa-times"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <app-pagination
      [items]="productList"
      (changePage)="onChangePage($event)"
    ></app-pagination>
  </div>
</div>

<app-modal-product
  [open]="isOpen"
  [typeModal]="typeModal"
  [selectCurrent]="selectCurrentProduct"
  (confirm)="closeModal($event)"
></app-modal-product>

<app-modal-product-type
  [open]="isOpen"
  [typeModal]="typeModal"
  [selectCurrent]="selectCurrentProductType"
  (confirm)="closeModal($event)"
>
</app-modal-product-type>
