<div class="login">
  <div class="login-left">
    <div class="login__heading">
      <img src="./assets/images/logo.jpg" alt="logo" class="login__img" />
    </div>
    <form action="" class="login-form">
      <div class="login-form__group">
        <label for="email" class="login-form__label"> Email </label>
        <input
          type="email"
          name="email"
          id="email"
          class="login-form__input"
          placeholder="Enter your email"
        />
      </div>

      <div class="login-form__group">
        <label for="password" class="login-form__label"> Password </label>
        <input
          type="password"
          name="password"
          id="password"
          class="login-form__input"
          placeholder="Password"
        />
      </div>

      <button class="btn btn-login" type="button">Log in</button>
    </form>
  </div>
  <div class="login-right">
    <div class="quotes-box quotes-box-1">
      <p class="quotes__parag">
        <i class="fad fa-quote-left quotes__icon quotes__icon-1"></i>
        Photography is the story I fail to put into words.
        <i class="fad fa-quote-right quotes__icon quotes__icon-2"></i>
      </p>
      <h4 class="quotes__author">Destin Sparks</h4>
    </div>

    <div class="quotes-box quotes-box-2">
      <p class="quotes__parag">
        <i class="fad fa-quote-left quotes__icon quotes__icon-1"></i>
        Essentially what photography is is life lit up
        <i class="fad fa-quote-right quotes__icon quotes__icon-2"></i>
      </p>
      <h4 class="quotes__author">Sam Abell</h4>
    </div>
  </div>
</div>
