/* =================== Modal ================== */
%absCenter {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

%modal {
  z-index: 9;
  background-color: $color-white;
  border-radius: 2rem;
  box-shadow: $shadow-dark-1;
  text-align: center;
  padding: 2.5rem 3rem;
}

%show {
  height: auto;
  opacity: 1;
  z-index: 9;
}

.modal {
  @extend %absCenter;

  width: 0;
  height: 0;
  opacity: 0;
  z-index: -2;

  backdrop-filter: blur(1rem);

  transition: all 0.3s;

  &.show {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 8;
  }
}
.add-modal {
  @extend %absCenter;
  @extend %modal;

  width: 0;
  height: 0;
  opacity: 0;
  z-index: -2;

  &.show {
    width: 50rem;

    @extend %show;
  }
}

.add-product-modal {
  @extend %absCenter;
  @extend %modal;

  width: 0;
  height: 0;
  opacity: 0;
  z-index: -2;

  &.show {
    width: 80rem;

    @extend %show;
  }
}

.msg-modal {
  @extend %absCenter;
  @extend %modal;

  width: 35rem;

  &__content {
    color: $color-font;
    font-size: 1.6rem;
    word-break: break-word;

    margin-bottom: 1.5rem;
  }

  &.show {
    width: 35rem;

    @extend %show;
  }
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 3rem;

  font-size: 2rem;
}
