<div class="filter-content filter--active" id="filter-1">
  <h3 class="heading-3">Thêm loại bộ lọc</h3>

  <form action="#0" class="form">
    <div class="form__group filter-form">
      <label for="filterType-1" class="form__label">
        Tên loại:<span>(*)</span>
      </label>
      <input type="text" id="filterType-1" class="form__input" required />
    </div>

    <div class="form__group filter-form">
      <label for="textArea-1" class="form__label"> Ghi chú: </label>
      <textarea
        name=""
        id="textArea-1"
        cols="30"
        rows="5"
        class="form__area"
      ></textarea>
    </div>

    <button class="btn btn-add filter-btn">Thêm</button>
  </form>
</div>
