<div class="cs-flex cs-container">
  <div class="cs-flex gr1">
    <label for="gr1">Loại sản phẩm:</label>
    <ng-select
      id="gr1"
      [items]="productTypeList"
      [multiple]="false"
      bindLabel="name"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      bindValue="id"
      placeholder="Loại sản phẩm"
      [closeOnSelect]="true"
      [(ngModel)]="selectedProductTypeId"
      (close)="getValues1()"
    >
      <ng-template
        ng-option-tmp
        let-item="item"
        let-item$="item$"
        let-index="index"
      >
        {{ item.name }}
      </ng-template>
    </ng-select>
  </div>

  <div class="cs-flex gr2">
    <label for="grr2">Loại bộ lọc:</label>
    <ng-select
      id="gr2"
      [items]="filterTypeList"
      [multiple]="true"
      bindLabel="name"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      bindValue="id"
      placeholder="Loại bộ lọc"
      [(ngModel)]="selectedFilterTypeId"
      (close)="getValues2()"
    >
      <ng-template
        ng-option-tmp
        let-item="item"
        let-item$="item$"
        let-index="index"
      >
        <input
          id="item-{{ index }}"
          type="checkbox"
          [ngModel]="item$.selected"
        />
        {{ item.name }}
      </ng-template>
    </ng-select>
  </div>

  <button
    type="button"
    class="btn btn-add"
    (click)="handleCreateConfiguratonSettings()"
  >
    Thêm
  </button>
  <!-- <button class="btn btn-edit">Sửa</button> -->
</div>

<div class="cs-list__wrapper">
  <div class="cs-list" *ngFor="let item of filterTypeList">
    <span class="cs-list__heading">{{ item.name }}</span>
    <select class="cs__select">
      <option>---Danh sách bộ lọc---</option>
      <option *ngFor="let i of filterItemsOfType(item.id)">{{ i.name }}</option>
    </select>
  </div>
</div>
