<div class="modal" [ngClass]="open ? 'show' : ''">
  <div class="configuration-modal" [ngClass]="open ? 'show' : ''">
    <span class="times-icon close-modal" (click)="closeModal()">
      <i class="fal fa-times"></i>
    </span>

    <div class="configuration-modal__header">
      <h5 class="configuration-modal__heading heading-5">Bộ lọc</h5>

      <div class="configuration-modal__filter-choose">
        AMD
        <span class="times-icon">
          <i class="fal fa-times"></i>
        </span>
      </div>
    </div>

    <div class="configuration-modal__filter">
      <div class="configuration-modal__filter-list">
        <span class="configuration-modal__filter-list--heading">
          Loại thương hiệu 1
        </span>

        <div class="configuration-modal__filter-item">
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 1
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 2
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 3
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 4
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 5
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 6
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 7
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 8
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 9
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 10
          </span>
        </div>
      </div>

      <div class="configuration-modal__filter-list">
        <span class="configuration-modal__filter-list--heading">
          Loại thương hiệu 1
        </span>

        <div class="configuration-modal__filter-item">
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 1
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 2
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 3
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 4
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 5
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 6
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 7
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 8
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 9
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 10
          </span>
        </div>
      </div>

      <div class="configuration-modal__filter-list">
        <span class="configuration-modal__filter-list--heading">
          Loại thương hiệu 1
        </span>

        <div class="configuration-modal__filter-item">
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 1
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 2
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 3
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 4
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 5
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 6
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 7
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 8
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 9
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 10
          </span>
        </div>
      </div>

      <div class="configuration-modal__filter-list">
        <span class="configuration-modal__filter-list--heading">
          Loại thương hiệu 1
        </span>

        <div class="configuration-modal__filter-item">
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 1
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 2
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 3
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 4
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 5
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 6
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 7
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 8
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 9
          </span>
          <span class="configuration-modal__filter-item--list">
            Thương hiệu 10
          </span>
        </div>
      </div>
    </div>

    <form action="#0" class="search">
      <input
        type="text"
        class="search__input"
        placeholder="Tìm kiếm sản phẩm"
      />
      <button class="search__button">
        <i class="far fa-search search__icon"></i>
      </button>
    </form>

    <div class="configuration-modal__product-list">
      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>

        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>

        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>

        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>

      <div class="configuration-modal__product">
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img src="./assets/images/banner01.jpg" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">Tên sản phẩm</div>
            <div class="configuration-modal__product-note">Ghi chú</div>
          </div>
        </div>
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">20.000đ</div>
          <button class="btn configuration-modal-btn btn-choose">Chọn</button>
        </div>
      </div>
    </div>

    <!-- <app-pagination
      [items]="productList"
      (changePage)="onChangePage($event)"
    ></app-pagination> -->
  </div>
</div>
