<div class="modal" [ngClass]="open ? 'show' : ''">
  <div class="configuration-modal" [ngClass]="open ? 'show' : ''">
    <span class="times-icon close-modal" (click)="closeModal()">
      <i class="fal fa-times"></i>
    </span>

    <div class="configuration-modal__header">
      <h5 class="configuration-modal__heading heading-5">Bộ lọc</h5>

      <div class="configuration-modal__filter-choose--list">
        <div
          class="configuration-modal__filter-choose"
          *ngFor="let item of chooseList"
        >
          {{ item }}
          <span class="times-icon" (click)="handleDeleteFilterTypeChoose(item)">
            <i class="fal fa-times"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="configuration-modal__filter">
      <div
        class="configuration-modal__filter-list"
        *ngFor="let item of filterTypeList"
      >
        <span class="configuration-modal__filter-list--heading">
          {{ item.name }}
        </span>

        <div
          class="configuration-modal__filter-item"
          *ngFor="let i of filterItemsOfType(item.id)"
        >
          <span
            class="configuration-modal__filter-item--list"
            (click)="handleChooseFilterType(i.name)"
          >
            {{ i.name }}
          </span>
        </div>
      </div>
    </div>

    <div class="search">
      <input
        type="text"
        class="search__input"
        placeholder="Tìm kiếm sản phẩm"
        aria-describedby="search-text"
        [(ngModel)]="searchText"
        autofocus
      />
      <button class="search__button">
        <i class="far fa-search search__icon"></i>
      </button>
    </div>

    <div class="configuration-modal__product-list">
      <div
        class="configuration-modal__product"
        *ngFor="let item of productList?.product | filter: searchText"
      >
        <div class="configuration-modal-group">
          <div class="configuration-modal__product-img">
            <img [src]="item.file" alt="product image" />
          </div>
          <div class="configuration-modal__product-info">
            <div class="configuration-modal__product-name">{{ item.name }}</div>
            <div class="configuration-modal__product-note">
              {{ item.description }}
            </div>
          </div>
        </div>

        <div class="configuration-modal-group">
          <div class="configuration-modal__product-price">
            {{ helper.formatCurrency(item.price) }}
          </div>
          <button
            class="btn configuration-modal-btn btn-choose"
            (click)="selectProduct(item)"
          >
            Chọn
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
