<nav class="sidebar">
  <ul class="side-nav">
    <li
      class="side-nav__item"
      (click)="changeBg1()"
      [ngClass]="this.isToogle1 ? 'side-nav__item--active' : ''"
    >
      <a
        [routerLink]="'product-manage'"
        routerLinkActive="active"
        class="side-nav__link"
      >
        <i class="fal fa-tasks side-nav__icon"></i>
        <span class="side-nav__heading"> Quản lý sản phẩm </span>
      </a>
    </li>

    <li
      class="side-nav__item"
      (click)="changeBg2()"
      [ngClass]="this.isToogle2 ? 'side-nav__item--active' : ''"
    >
      <a
        [routerLink]="'/admin/product-manage/configuration-settings'"
        routerLinkActive="active"
        class="side-nav__link"
      >
        <i class="fal fa-camera-retro side-nav__icon"></i>
        <span class="side-nav__heading"> Thiết lập cấu hình </span>
      </a>
    </li>
  </ul>

  <div class="legal">
    <span>&copy; 2021 by hhaai.</span>
    <span>All rights reserved.</span>
  </div>
</nav>
