<div class="product-content product--active" id="product">
  <div class="product-content-1">
    <div class="heading-group">
      <h3 class="heading-3">Danh sách loại bộ lọc</h3>

      <span class="plus-icon" (click)="openModal('create', 'modalType')">
        <i class="fal fa-plus"></i>
      </span>
    </div>

    <ul class="product-type">
      <li class="product-type__item" *ngFor="let it of filterTypeList">
        <span
          class="product-type__name"
          (click)="selectedRowFilterType(it, 'modalType')"
        >
          {{ it.name }}
        </span>
        <span class="times-icon" (click)="handleDeleteFilterType(it.id)">
          <i class="fal fa-times"></i>
        </span>
      </li>
    </ul>
  </div>

  <div class="product-content-2">
    <div class="heading-group">
      <h3 class="heading-3">Danh sách bộ lọc</h3>

      <span class="plus-icon" (click)="openModal('create', 'modalAdd')">
        <i class="fal fa-plus"></i>
      </span>
    </div>

    <table class="table table-2">
      <thead>
        <tr class="table-header">
          <th class="table-heading__item">STT</th>
          <th class="table-heading__item"><a>Tên bộ lọc</a></th>
          <th class="table-heading__item">Loại bộ lọc</th>
          <th class="table-heading__item">Ngày tạo</th>
          <th class="table-heading__item"><a> Hành động</a></th>
        </tr>
      </thead>

      <tbody>
        <tr class="table-body" *ngFor="let item of pageOfItems; index as i">
          <td class="table-content__item">{{ i + 1 }}</td>
          <td class="table-content__item">
            <a
              class="table-content__link"
              (click)="selectedRowFilter(item, 'modalAdd')"
            >
              {{ item.name }}
            </a>
          </td>
          <td class="table-content__item">
            {{ item.category_filter.name }}
          </td>
          <td class="table-content__item">
            {{ helper.formatDate(item.created_at) }}
          </td>
          <td class="table-content__item">
            <a
              class="times-icon times-icon-2"
              (click)="handleDeleteFilter(item.id)"
            >
              <i class="fal fa-times"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <app-pagination
      [items]="filterList"
      (changePage)="onChangePage($event)"
    ></app-pagination>
  </div>
</div>

<app-modal-filter
  [open]="isOpen"
  [typeModal]="typeModal"
  [selectCurrent]="selectCurrentFilter"
  (confirm)="closeModal($event)"
></app-modal-filter>

<app-modal-filter-type
  [open]="isOpen"
  [typeModal]="typeModal"
  [selectCurrent]="selectCurrentFilterType"
  (confirm)="closeModal($event)"
></app-modal-filter-type>
