<div class="product-content product--active" id="product">
  <div class="product-content-1">
    <div class="heading-group">
      <h3 class="heading-3">Danh sách loại bộ lọc</h3>

      <span class="plus-icon" (click)="openModal('create', 'modalType')">
        <i class="fal fa-plus"></i>
      </span>
    </div>

    <ul class="product-type">
      <li class="product-type__item">
        <span class="product-type__name" data-modal="add-modal">
          Loại bộ lọc 1
        </span>
        <span class="times-icon">
          <i class="fal fa-times"></i>
        </span>
      </li>

      <li class="product-type__item">
        <span class="product-type__name" data-modal="add-modal">
          Loại bộ lọc 2
        </span>
        <span class="times-icon">
          <i class="fal fa-times"></i>
        </span>
      </li>

      <li class="product-type__item">
        <span class="product-type__name" data-modal="add-modal">
          Loại bộ lọc 3
        </span>
        <span class="times-icon">
          <i class="fal fa-times"></i>
        </span>
      </li>
    </ul>
  </div>

  <div class="product-content-2">
    <div class="heading-group">
      <h3 class="heading-3">Danh sách bộ lọc</h3>

      <span class="plus-icon" (click)="openModal('create', 'modalAdd')">
        <i class="fal fa-plus"></i>
      </span>
    </div>

    <div class="table table-2">
      <div class="table-header">
        <div class="table-heading__list">
          <span class="table-heading__item"> STT </span>
          <span class="table-heading__item"> Tên bộ lọc </span>
          <span class="table-heading__item"> Loại bộ lọc </span>
          <span class="table-heading__item"> Ngày tạo </span>
          <span class="table-heading__item"> Hành động </span>
        </div>
      </div>

      <div class="table-body">
        <div class="table-content__list">
          <span class="table-content__item"> 1 </span>
          <span class="table-content__item">
            <a href="#0" class="table-content__link" data-modal="product-modal">
              Bộ lọc 1
            </a>
          </span>
          <span class="table-content__item"> Loại 1 </span>
          <span class="table-content__item"> 21/12/2021 </span>
          <span class="table-content__item">
            <span class="times-icon times-icon-2">
              <i class="fal fa-times"></i>
            </span>
          </span>
        </div>

        <div class="table-content__list">
          <span class="table-content__item"> 1 </span>
          <span class="table-content__item">
            <a href="#0" class="table-content__link" data-modal="product-modal">
              Bộ lọc 1
            </a>
          </span>
          <span class="table-content__item"> Loại 1 </span>
          <span class="table-content__item"> 21/12/2021 </span>
          <span class="table-content__item">
            <span class="times-icon times-icon-2">
              <i class="fal fa-times"></i>
            </span>
          </span>
        </div>

        <div class="table-content__list">
          <span class="table-content__item"> 1 </span>
          <span class="table-content__item">
            <a href="#0" class="table-content__link" data-modal="product-modal">
              Bộ lọc 1
            </a>
          </span>
          <span class="table-content__item"> Loại 1 </span>
          <span class="table-content__item"> 21/12/2021 </span>
          <span class="table-content__item">
            <span class="times-icon times-icon-2">
              <i class="fal fa-times"></i>
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="pagination">
      <ul class="pagination__list">
        <li class="pagination__item pagination__item--active">
          <a href="#" class="pagination__link"> 1 </a>
        </li>

        <li class="pagination__item">
          <a href="#" class="pagination__link"> 2 </a>
        </li>

        <li class="pagination__item">
          <a href="#" class="pagination__link"> 3 </a>
        </li>

        <li class="pagination__item">
          <a href="#" class="pagination__link"> 4 </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-modal-filter
  [open]="isOpen"
  [typeModal]="typeModal"
  [selectCurrent]="selectCurrent"
  (confirm)="closeModal($event)"
></app-modal-filter>

<app-modal-filter-type
  [open]="isOpen"
  [typeModal]="typeModal"
  [selectCurrent]="selectCurrent"
  (confirm)="closeModal($event)"
></app-modal-filter-type>
