<div class="product-content product--active" id="product">
  <div class="product-content-1">
    <div class="heading-group">
      <h3 class="heading-3">Danh sách loại sản phẩm</h3>

      <span class="plus-icon" (click)="openModal('create', 'modalType')">
        <i class="fal fa-plus"></i>
      </span>
    </div>

    <ul class="product-type">
      <li class="product-type__item">
        <span class="product-type__name" data-modal="add-modal"> Loại 1 </span>
        <span class="times-icon">
          <i class="fal fa-times"></i>
        </span>
      </li>

      <li class="product-type__item">
        <span class="product-type__name" data-modal="add-modal"> Loại 2 </span>
        <span class="times-icon">
          <i class="fal fa-times"></i>
        </span>
      </li>

      <li class="product-type__item">
        <span class="product-type__name" data-modal="add-modal"> Loại 3 </span>
        <span class="times-icon">
          <i class="fal fa-times"></i>
        </span>
      </li>
    </ul>
  </div>

  <div class="product-content-2">
    <div class="heading-group">
      <h3 class="heading-3">Danh sách sản phẩm</h3>

      <span class="plus-icon" (click)="openModal('create', 'modalAdd')">
        <i class="fal fa-plus"></i>
      </span>
    </div>

    <div class="table table-1">
      <div class="table-header">
        <div class="table-heading__list">
          <span class="table-heading__item"> STT </span>
          <span class="table-heading__item"> Tên sản phẩm </span>
          <span class="table-heading__item"> Giá (đ) </span>
          <span class="table-heading__item"> Loại sản phẩm </span>
          <span class="table-heading__item"> Ngày tạo </span>
          <span class="table-heading__item"> Hành động </span>
        </div>
      </div>

      <div class="table-body">
        <div class="table-content__list" *ngFor="let item of pageOfItems">
          <span class="table-content__item"> {{ item.name }} </span>
          <span class="table-content__item">
            <a href="#0" class="table-content__link" data-modal="product-modal">
              Sản phẩm 1
            </a>
          </span>
          <span class="table-content__item"> 1.000.000 </span>
          <span class="table-content__item"> Loại 1 </span>
          <span class="table-content__item"> 21/12/2021 </span>
          <span class="table-content__item">
            <span class="times-icon times-icon-2">
              <i class="fal fa-times"></i>
            </span>
          </span>
        </div>
      </div>
    </div>

    <app-pagination
      [items]="items"
      (changePage)="onChangePage($event)"
    ></app-pagination>
  </div>
</div>

<app-modal-product
  [open]="isOpen"
  [typeModal]="typeModal"
  [selectCurrent]="selectCurrent"
  (confirm)="closeModal($event)"
></app-modal-product>

<app-modal-product-type
  [open]="isOpen"
  [typeModal]="typeModal"
  [selectCurrent]="selectCurrent"
  (confirm)="closeModal($event)"
>
</app-modal-product-type>
