<header class="header">
  <img src="./assets/images/logo.jpg" alt="RongBay logo" class="header__logo" />

  <div class="clock">
    <div class="clock__display">
      <div id="time"></div>
    </div>
  </div>

  <nav class="header__nav">
    <div class="header__nav-user">
      <img
        src="./assets/images/user.jpg"
        alt="user logo"
        class="header__nav-user--photo"
      />
      <span class="header__nav-user--name">{{ currentUser }}</span>
      <!-- <div class="user-nav__option">
            <div class="user-nav__option-profile">
               <img
                  src="img/user.jpg"
                  alt="user logo"
                  class="user-nav__option-profile--photo"
               />
               <span class="user-nav__option-profile--user">
                  <span
                     class="user-nav__option-profile--user-name"
                  >
                     Jonas Schmedtmann
                  </span>
                  <span
                     class="user-nav__option-profile--user-msg"
                  >
                     See your profile
                  </span>
               </span>
            </div>
            <div class="user-nav__option-feedback">
               <svg class="user-nav__option-feedback--icon">
                  <use
                     xlink:href="img/symbol.svg#icon-help-with-circle"
                  ></use>
               </svg>
               <span
                  class="user-nav__option-feedback--content"
               >
                  <span
                     class="user-nav__option-feedback--title"
                  >
                     Comments
                  </span>
                  <span
                     class="user-nav__option-feedback--msg"
                  >
                     Contribute to help us improve
                  </span>
               </span>
            </div>
            <ul class="user-nav__option--list">
               <li class="user-nav__option--item">
                  <svg class="user-nav__option--icon">
                     <use
                        xlink:href="img/symbol.svg#icon-cog"
                     ></use>
                  </svg>
                  <span class="user-nav__option--title">
                     Settings & privacy
                  </span>
                  <svg class="user-nav__option--icon2">
                     <use
                        xlink:href="img/sprite.svg#icon-chevron-thin-right"
                     ></use>
                  </svg>
               </li>
               <li class="user-nav__option--item">
                  <svg class="user-nav__option--icon">
                     <use
                        xlink:href="img/symbol.svg#icon-ticket"
                     ></use>
                  </svg>
                  <span class="user-nav__option--title">
                     Bookings
                  </span>
                  <svg class="user-nav__option--icon2">
                     <use
                        xlink:href="img/sprite.svg#icon-chevron-thin-right"
                     ></use>
                  </svg>
               </li>
               <li class="user-nav__option--item">
                  <svg class="user-nav__option--icon">
                     <use
                        xlink:href="img/symbol.svg#icon-credit"
                     ></use>
                  </svg>
                  <span class="user-nav__option--title">
                     Payment
                  </span>
                  <svg class="user-nav__option--icon2">
                     <use
                        xlink:href="img/sprite.svg#icon-chevron-thin-right"
                     ></use>
                  </svg>
               </li>
               <li class="user-nav__option--item">
                  <svg class="user-nav__option--icon">
                     <use
                        xlink:href="img/symbol.svg#icon-log-out"
                     ></use>
                  </svg>
                  <span class="user-nav__option--title">
                     Logout
                  </span>
               </li>
            </ul>
         </div> -->
    </div>
  </nav>
</header>
