<header class="header">
  <img src="./assets/images/logo.jpg" alt="RongBay logo" class="header__logo" />

  <div class="clock">
    <div class="clock__display">
      <div id="time"></div>
    </div>
  </div>

  <nav class="header__nav">
    <div class="header__cart" *ngIf="!currentUser">
      <i class="far fa-shopping-cart"></i>
      <span class="header__cart-number">1</span>
    </div>

    <a
      [routerLink]="'/login'"
      routerLinkActive="active"
      class="header__nav-user"
    >
      <img
        src="./assets/images/user.jpg"
        alt="user logo"
        class="header__nav-user--photo"
      />
      <span class="header__nav-user--name">{{ currentUser }}</span>
    </a>
  </nav>
</header>
