<div class="modal" [ngClass]="open && typeModal == 'modalType' ? 'show' : ''">
  <div class="add-modal" [ngClass]="typeModal == 'modalType' ? 'show' : ''">
    <span
      class="times-icon close-modal"
      (click)="closeModal()"
      [ngClass]="typeModal == 'modalType' ? 'show' : ''"
    >
      <i class="fal fa-times"></i>
    </span>

    <h4 class="heading-4">Thêm/sửa loại bộ lọc</h4>

    <form action="#0" class="form" [formGroup]="filterTypeForm">
      <div class="form__group">
        <label class="form__label"> Tên loại:<span>(*)</span> </label>
        <textarea
          cols="30"
          rows="2"
          class="form__area"
          formControlName="filterTypeName"
        ></textarea>
      </div>
      <div *ngIf="submitted && f.filterTypeName.errors" class="invalid">
        <div *ngIf="f.filterTypeName.errors.required">
          <span>⚠️</span> Tên loại lọc không được để trống
        </div>
      </div>

      <div class="form__group">
        <label class="form__label"> Ghi chú: </label>
        <textarea
          name=""
          cols="30"
          rows="3"
          class="form__area"
          formControlName="filterTypeNote"
        ></textarea>
      </div>

      <button
        class="btn btn-add"
        type="submit"
        *ngIf="selectCurrent; else btnCreate"
        (click)="handleUpdate()"
      >
        Cập nhật
      </button>
      <ng-template #btnCreate>
        <button type="submit" class="btn btn-add" (click)="handleCreate()">
          Thêm
        </button>
      </ng-template>
    </form>
  </div>
</div>
