/* =================== Configuration ================== */
.configuration {
  background-color: $color-white;
  padding: 3rem;
  min-height: 80vh;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid $color-grey-light-3;

    height: 15rem;
  }

  &__list {
    display: flex;
  }

  &__item {
    padding: 0.7rem 2rem;
    background-color: $color-grey-light-3;
    border-radius: 0.7rem;
    color: currentColor;

    cursor: pointer;

    transition: all 0.25s;

    &:focus {
      outline: none;
    }

    &.active {
      color: $color-white;
      background: linear-gradient(
        to right,
        $color-primary,
        $color-primary-light
      );

      &:hover {
        background: linear-gradient(
          to right,
          $color-primary,
          $color-primary-light
        );
      }
    }

    &:hover {
      background: $color-grey-light-4;
    }

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  &__content {
    position: relative;
  }

  &__pdf {
    text-align: center;
    padding: 2rem 3.5rem;
    border: 1px solid $color-grey-dark-1;
    border-radius: 0.6rem;

    position: absolute;
    right: 0;
    top: -21rem;
  }

  &__cost {
    margin-bottom: 1rem;

    &--heading {
      font-weight: 400;
    }

    &--number {
      font-weight: 500;
      color: $color-primary;
    }
  }

  &__contact {
    margin-top: 1rem;
  }
}

/* =================== Accessories ================== */
.accessories {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2.5rem;
  // border: 1px solid $color-grey-dark-4;
  background-color: rgba($color-grey-light-1, 0.75);
  border-radius: 2rem;
  box-shadow: $shadow-dark-4;

  transition: all 0.25s;

  &:hover {
    box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.5);
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
    width: 10rem;

    word-break: break-word;
  }

  &__img {
    width: 10rem;
    height: 10rem;

    margin-left: 4rem;

    @include respond(only-tablet) {
      margin-left: 2rem;
    }

    @include respond(land-phone) {
      margin-left: 1rem;
    }

    img {
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 35rem;

    margin-right: auto;

    margin-left: 4rem;

    @include respond(only-tablet) {
      margin-left: 2rem;
    }

    @include respond(land-phone) {
      margin-left: 1rem;
    }
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 500;
  }

  &__note {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-heading;
  }

  &__group {
    display: flex;
    align-items: center;
  }

  &__price {
    font-size: 1.7rem;
    font-weight: 600;
    color: $color-primary;

    margin: 0 4rem;

    @include respond(only-tablet) {
      margin: 0 2rem;
    }

    @include respond(land-phone) {
      margin: 0 1rem;
    }
  }
}
