/* =================== Configuration-Settings ================== */
.cs-container {
  margin-top: 2rem;
  padding: 0 2rem;

  flex-wrap: wrap;

  justify-content: space-between;

  & > * {
    margin-bottom: 2rem;
  }

  label {
    margin-right: 1rem;
  }
}

.cs-flex {
  display: flex;
  align-items: center;
}

.btn-add {
  margin-top: 0;

  padding: 1rem 5rem;
  border-radius: 0.7rem;

  margin-left: auto;
  margin-right: auto;
}

.gr1 {
  margin-right: 3rem;
}

#gr1 {
  width: 20rem;
}

#gr2 {
  width: 35rem;
}
