/* ================ Typography =============== */
.loading {
  position: fixed;
  top: -5rem;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba($color: $color-black, $alpha: 0.3);
  backdrop-filter: blur(2rem);
  z-index: 99;

  &-icon {
    width: 9rem;
    height: 9rem;
    animation: shakeeeed 2s infinite reverse;
  }
}

@keyframes shakeeeed {
  0% {
    transform: rotate(35deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(35deg);
  }
}
