/* =================== Table ================== */
%overflow {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.table-wrapper {
  width: 100%;
  overflow: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem auto;
  border-radius: 1.2rem 1.2rem 0 0;
  overflow: hidden;

  &-header {
    background-color: $color-primary-light;
  }

  &-heading__list,
  &-content__list {
    display: flex;
  }

  &-heading__item {
    border: 0.2rem solid $color-primary-light;

    color: $color-white;
    font-family: $poppins;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    padding: 1rem 0;
    display: inline-block;

    &:not(:last-child) {
      border-right: 0.2rem solid $color-white;
    }
  }

  &-body {
    display: flex;
    align-items: inherit;

    border-bottom: 0.2rem solid $color-primary-light;
  }

  &-content__item {
    border-right: 0.2rem solid $color-primary-light;

    text-align: center;

    padding: 0.8rem;
    display: inline-block;

    @extend %overflow;

    &:first-child {
      border-left: 0.2rem solid $color-primary-light;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-1 {
    .table {
      &-heading__item:first-child,
      &-content__item:first-child {
        width: 7%;
        overflow: hidden;
      }

      &-heading__item:nth-child(2),
      &-content__item:nth-child(2) {
        width: 26%;
        overflow: hidden;
      }

      &-heading__item:nth-child(3),
      &-content__item:nth-child(3) {
        width: 17%;
        overflow: hidden;

        @include respond(table) {
          width: 20%;
          overflow: hidden;
        }
      }

      &-heading__item:nth-child(4),
      &-content__item:nth-child(4) {
        width: 23%;
        overflow: hidden;
      }

      &-heading__item:nth-child(5),
      &-content__item:nth-child(5) {
        width: 15%;
        overflow: hidden;

        @include respond(table) {
          width: 20%;
          overflow: hidden;
        }
      }

      &-heading__item:last-child,
      &-content__item:last-child {
        width: 12%;
        overflow: hidden;
      }
    }
  }

  &-2 {
    .table {
      &-heading__item:first-child,
      &-content__item:first-child {
        width: 7%;
        overflow: hidden;
      }

      &-heading__item:nth-child(2),
      &-content__item:nth-child(2) {
        width: 35%;
        overflow: hidden;
      }

      &-heading__item:nth-child(3),
      &-content__item:nth-child(3) {
        width: 26%;
        overflow: hidden;
      }

      &-heading__item:nth-child(4),
      &-content__item:nth-child(4) {
        width: 20%;
        overflow: hidden;
      }

      &-heading__item:last-child,
      &-content__item:last-child {
        width: 12%;
        overflow: hidden;
      }
    }
  }

  &-3 {
    .table {
      &-heading__item:first-child,
      &-content__item:first-child {
        width: 10%;
        overflow: hidden;
      }

      &-heading__item:nth-child(2),
      &-content__item:nth-child(2) {
        width: 35%;
        overflow: hidden;
      }

      &-heading__item:last-child,
      &-content__item:last-child {
        width: 55%;
        overflow: hidden;
      }
    }
  }

  &-content__link {
    color: $color-primary;
    font-weight: 500;

    display: inline;
    cursor: pointer;
    position: relative;

    // width: fit-content;
    // max-width: 15rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    transition: all 0.25s;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      display: inline-block;
      width: 0;
      height: 2px;
      background-color: $color-primary;

      transition: all 0.25s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &-content__area {
    outline: none;
    border: none;
    width: 100%;
    padding: 0;
  }
}
