<div class="filter-content" id="filter-2">
  <h3 class="heading-3">Thêm bộ lọc</h3>

  <form action="#0" class="form">
    <div class="form__group filter-form">
      <label for="filterType-2" class="form__label">
        Loại bộ lọc:<span>(*)</span>
      </label>
      <input type="text" id="filterType-2" class="form__input" required />
    </div>

    <div class="form__group filter-form">
      <label for="filter" class="form__label">
        Tên bộ lọc:<span>(*)</span>
      </label>
      <input type="text" id="filter" class="form__input" required />
    </div>

    <div class="form__group filter-form">
      <label for="textArea-2" class="form__label"> Ghi chú </label>
      <textarea
        name=""
        id="textArea-2"
        cols="30"
        rows="5"
        class="form__area"
      ></textarea>
    </div>

    <button class="btn btn-add filter-btn">Thêm</button>
  </form>
</div>
