<div class="configuration">
  <h2 class="heading-2">Cấu hình sản phẩm</h2>

  <div class="configuration__header">
    <div class="configuration__list">
      <div class="configuration__item active">Cấu hình 1</div>
      <div class="configuration__item">Cấu hình 2</div>
      <div class="configuration__item">Cấu hình 3</div>
    </div>

    <div class="configuration__pdf">
      <div class="configuration__cost">
        <span class="configuration__cost--heading"> Chi phí dự tính: </span>
        <span class="configuration__cost--number"> 20.000đ </span>
      </div>

      <button class="btn btn-pdf">Tải báo giá (PDF)</button>

      <div class="configuration__contact">
        <i class="fas fa-phone-alt"></i>
        <span class="configuration__contact-number"> Liên hệ: 23423423 </span>
      </div>
    </div>
  </div>

  <div class="accessories">
    <div class="accessories__group">
      <div class="accessories__heading">Tên loại sản phẩm</div>

      <div class="accessories__img">
        <img src="./assets/images/banner09.jpg" alt="accessories image" />
      </div>
    </div>

    <div class="accessories__content">
      <span class="accessories__title">Tên sản phẩm</span>
      <span class="accessories__note">Ghi chú</span>
    </div>

    <div class="accessories__group">
      <div class="form__number">
        <button class="arrow-minus" (click)="quantityMinus($event)">-</button>
        <input type="number" value="{{ valueInputNumber }}" readonly />
        <button class="arrow-plus" (click)="quantityPlus($event)">+</button>
      </div>

      <div class="accessories__price">
        {{ helper.formatCurrency(20000 * valueInputNumber) }}
      </div>

      <button class="btn btn-accessories btn-edit">Sửa</button>
    </div>
  </div>

  <div class="accessories">
    <div class="accessories__group">
      <div class="accessories__heading">Tên loại sản phẩm</div>

      <div class="accessories__img">
        <img src="./assets/images/100x100.png" alt="accessories image" />
      </div>
    </div>

    <div class="accessories__content">Vui lòng chọn sản phẩm</div>

    <button class="btn btn-accessories btn-choose">Chọn</button>
  </div>

  <div class="accessories">
    <div class="accessories__group">
      <div class="accessories__heading">Tên loại sản phẩm</div>

      <div class="accessories__img">
        <img src="./assets/images/100x100.png" alt="accessories image" />
      </div>
    </div>

    <div class="accessories__content">Vui lòng chọn sản phẩm</div>

    <button class="btn btn-accessories btn-choose">Chọn</button>
  </div>

  <div class="accessories">
    <div class="accessories__group">
      <div class="accessories__heading">Tên loại sản phẩm</div>

      <div class="accessories__img">
        <img src="./assets/images/100x100.png" alt="accessories image" />
      </div>
    </div>

    <div class="accessories__content">Vui lòng chọn sản phẩm</div>

    <button class="btn btn-accessories btn-choose">Chọn</button>
  </div>
</div>
