<div class="modal" [ngClass]="open && typeModal == 'modalAdd' ? 'show' : ''">
  <div
    class="add-product-modal"
    [ngClass]="typeModal == 'modalAdd' ? 'show' : ''"
  >
    <span class="times-icon close-modal" (click)="closeModal()">
      <i class="fal fa-times"></i>
    </span>

    <h4 class="heading-4">Thêm/sửa bộ lọc</h4>

    <form action="#0" class="form" [formGroup]="filterForm">
      <div class="form__group">
        <label class="form__label"> Loại bộ lọc:<span>(*)</span> </label>
        <select
          name=""
          class="form__select"
          formControlName="filterType"
          style="max-width: 29.8rem"
        >
          <option value="">----Chọn loại bộ lọc----</option>
          <option value="{{ item.id }}" *ngFor="let item of filterTypeList">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div *ngIf="submitted && f.filterType.errors" class="invalid">
        <div *ngIf="f.filterType.errors.required">
          <span>⚠️</span> Loại bộ lọc cần được chọn
        </div>
      </div>

      <div class="form__group">
        <label class="form__label"> Tên bộ lọc:<span>(*)</span> </label>
        <input type="text" class="form__input" formControlName="filterName" />
      </div>
      <div *ngIf="submitted && f.filterName.errors" class="invalid">
        <div *ngIf="f.filterName.errors.required">
          <span>⚠️</span> Tên bộ lọc không được để trống
        </div>
      </div>

      <div class="form__group">
        <label class="form__label"> Ghi chú: </label>
        <textarea name="" cols="30" rows="3" class="form__area"></textarea>
      </div>

      <button
        class="btn btn-add"
        type="submit"
        *ngIf="selectCurrent; else btnCreate"
        (click)="handleUpdate()"
      >
        Cập nhật
      </button>
      <ng-template #btnCreate>
        <button type="submit" class="btn btn-add" (click)="handleCreate()">
          Thêm
        </button>
      </ng-template>
    </form>
  </div>
</div>
